footer{
    width: 100%;
    height: 20vh;
    background-color: #B7CADB;
    text-align: center;
}
footer p{
    padding-top: 10px;
    font-size: large;
    position: relative;
    background-color: #B7CADB;
}
footer a{
    text-decoration: none;

}
.container-icons{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding-top: 5%;
    position: relative;
}
.container-icons a{
    margin-right: 3rem auto;
    margin-left: 1rem  ;
}