.container-header{
    position: sticky;
    top: 0;
    width: 100vw;
    height: 8rem;
    display: flex;
    flex-direction: row;
    z-index: 1;
    background: rgb(255, 255, 255);
    backface-visibility: hidden;
    transform: translateZ(0px);
    align-items: center;
    justify-content: space-between;
}
.container-menu{
    width: 55%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    animation: scale-up-vertical-center 0.6s;
}
.img_logo{
    display: flex;
    width: 150px;
    margin-left: 15%;
    border-style: none;
    animation:tracking-in-expand-forward-top 1s linear both;
    background-color: rgb(255, 255, 255);
}
.container-menu__item {
    font-family: 'Lato', sans-serif;
    color: #000000ac;
    position: relative;
    text-decoration: none;
    line-height: 1;
    font-size: .9rem;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    animation: tracking-in-expand-forward-top 1s linear both;
}
.container-menu__item:hover{
    border-bottom: 1px solid #474343;
    color: #000000d9;
}
.container-catalogo{
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: auto;
    transition: .8s;
}
.container-catalogo--item{
    border-color: transparent;
}
.catalogo-content{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.5);
    background-color: white;
    width: 12rem;
    transition: .8s;
    border-radius: .6rem;
    font-family: 'Lato', sans-serif;
    padding: 1rem;
    padding-bottom: 1.5rem;
}
.container-catalogo--item img{
    width: 15px;
    height: 10px;
}
.catalogo-content a{
    transition: .7s cubic-bezier(.075,.82,.165,1);

}
.container-catalogo:hover .catalogo-content{
    display: block;
}
.catalogo-content a{
    display: block;
    color: black;
    padding: 8px;
    text-decoration: none;
    line-height: 1;
    font-size: .7rem;
    border-bottom: 1px solid rgba(250, 128, 114, 0.809);
    border-left: 1px solid rgba(9, 5, 4, 0.809) ;
    border-bottom-left-radius: 5px;
    padding-bottom: .7rem; 
}
.catalogo-content a:hover{
    color: rgb(70, 6, 6);
    border-bottom: 1px solid #474343;
    transition: .3s;
}
@media (max-width: 425px){
    .container-menu__item{
        font-size: .6rem;
    }
    .social{
        border-bottom: 1px solid rgba(250, 128, 114, 0.809);
    }
    .social:hover{
        border: none;
    }
    .container-menu{
        width: 60%;
    }
    .container-header{
        flex-direction: column;
        height: auto;
    }
    .container-menu{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: 100vw;
        height: 2rem;
    }
}
@media (max-width:375px){
    .img_logo{
        width: 150px;
        height: 110px;
    }
    .container-catalogo--item{
        width: 2.5rem;
        height: 2.5rem;
    }
    .container-catalogo--item img{
        width: 6px;
        height: 8px;
    }
}
@media (min-width:425px){
    .container-header{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}