.container_razones{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 30px;
    margin: 1rem auto;
}
@media (max-width:700px){
    .container_razones{
        display: contents;
        flex-direction: column;
        margin: 1rem auto;
    }
    .razones{
        margin: 2rem 2rem;
    }
}
.razones{
    display: flex;
    min-width: 250px;
    max-width: 420px;
    height: auto;
    flex-direction: row;
    justify-content: center;
}
.razon_img{
    min-width: 70px;
    max-width: 100px;
    min-height: 70px;
    max-height: 100px;
    transition: .6s;
}
.razon_img:hover{
    transform: scale(1.2);
}
.razon_text{
    min-width: 180px;
    max-width: 300px;
    width: auto;
    display: flex;
    flex-direction: column;

}
.razon_text h2{
    font-size: 1.5rem;
    font-weight: 800;
}
.razon_text p{
    width: 80%;
    font-size: 1rem;
    margin-top: 1rem;
    color: gray;
    text-align: justify;
}
.razon1{
    grid-area: 3 / 3 / 5 / 5; 
}
.razon2{ 
    grid-area: 2 / 1 / 4 / 3; 
}
.razon3 { 
    grid-area: 2 / 5 / 4 / 7; 
}
.razon4 { 
    grid-area: 1 / 3 / 3 / 5; 
}
@media (max-width:700px){
    .razon_text p{
        width: 90%;
        font-size: .9rem;
        margin-top: 1rem;
        color: gray;
    }
}
