    /* color de fondo de flores #F2D8D8*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
html{
    width: 100vw;
    font-size: 62.5%;
}
@keyframes tracking-in-expand-forward-top{
    0%{
        letter-spacing:-.2em;
        transform:translateZ(-700px) translateY(-100px)
        ;opacity:0
    }
    40%{
        opacity:.6
    }
    100%{
        transform:translateZ(0) translateY(0);
        opacity:1
    }
}

@keyframes scale-up-vertical-center{
    0%{
        transform:scaleY(.2)
    }
    100%{
        transform:scaleY(1)
    }
}
@keyframes scale-up-horizontal-left{
    0%{
        transform:scaleX(.4);
        transform-origin:left center
    }
    100%{
        transform:scaleX(1);
        transform-origin:left center
    }
}
@keyframes scale-up-vertical-bottom{
    0%{
        transform:scaleY(.4);
        transform-origin:center bottom
    }
    100%{
        transform:scaleY(1);
        transform-origin:center bottom
    }
}
@keyframes blur-in{
    0%{
        filter:blur(12px);
        opacity:0}
    100%{
        filter:blur(0);
        opacity:1
    }
}